.container_section {
  padding: 20px 18vw;
}

.blue_bg {
  background-color: #f5faff;
  transition: background-color 0.3s ease-in-out;
}
.blue_bg:hover {
  background: linear-gradient(to bottom, #f5faff, #e2ebff);
}

@media (max-width: 1200px) {
  .container_section {
    padding: 20px 14vw;
  }
}

@media (max-width: 800px) {
  .container_section {
    padding: 20px 0;
  }
}
